@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

body {
  background-color: #161d26;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 16.8px;
  margin-left: 12px;
  width: 322px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #4c9aff;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 20px 8px;
}

.logo {
  width: 289px;
  height: 105px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 3;
}

.databox {
  box-sizing: border-box;
  margin-top: 246px;
  margin-bottom: 246px;
  margin-left: 535px;
  margin-right: 535px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 24px;
  gap: 8px;
  isolation: isolate;
  width: 370px;
  height: 586.2px;

  /* Light/Surface */
  background: #ffffff;
  /* Light/Border */
  border: 2px solid #cacfda;
  border-radius: 16px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8.39px 129.3px 8.39px 128.7px;
  width: 322px;
  height: 32.78px;
  background: #4c9aff;
  border-radius: 8px;
  margin-left: 12px;
  color: white;
}

h3 {
  width: 114px;
  height: 28px;

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.16px;
  color: #5e6c84;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 2;
}

.footer {
  width: 190px;
  height: 29px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-left: 70px;
  line-height: 29px;
  /* identical to box height, or 206% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #0052cc;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
  z-index: 0;
}
