@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Michroma", sans-serif;
}

body {
  background-color: #1e2746;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wrapper-react {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-react h1 {
  font-size: 32px;
  margin: 2em 0;
  color: #1e2746;
  font-weight: 400;
}

.wrapper-react .react-logo {
  margin-top: 2em;
}

.wrapper-react .react-logo img {
  width: 150px;
}

.wrapper-react .react-text {
  margin-top: 2em;
  font-size: 20px;
  color: #1e2746;
  font-weight: 300;
  text-align: center;
}
