@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

body {
  background-color: #f9fafc;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 760px 29.99px;
  gap: 10px;
  position: absolute;
  width: 1440px;
  height: 574.99px;
  left: 0px;
  top: 0px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wrapper-react {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-react h1 {
  font-size: 32px;
  margin: 2em 0;
  color: #1e2746;
  font-weight: 400;
}

.wrapper-react .react-logo {
  margin-top: 2em;
}

.wrapper-react .react-logo img {
  width: 150px;
}

.wrapper-react .react-text {
  margin-top: 2em;
  font-size: 20px;
  color: #1e2746;
  font-weight: 300;
  text-align: center;
}

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 9px;
  width: 322px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #4c9aff;
  border-radius: 3px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.logo {
  width: 289px;
  height: 105px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.databox {
  width: 400px;
  height: 390px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}
