h1 {
  position: absolute;
  width: 114px;
  height: 28px;
  left: 143.92px;
  top: 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.16px;
  color: #5e6c84;
}

button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8.39px 129.3px 8.39px 128.7px;
  width: 322px;
  height: 32.78px;
  background: #4c9aff;
  border-radius: 4.2px;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
